/vendor
/node_modules
/.env
/.phpunit.result.cache
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
*.sqlite*
.DS_Store